Discord ai bot(1).json
{
  "name": "Discord ai bot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "27739f2e-c7d3-40f2-9ea1-61ef675b7643",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        32
      ],
      "id": "04251a00-b958-49ab-a98c-779dd7b7b2f4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "e87efb29-3112-411f-9b90-1dc6d785f169",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VBprRsIbNE91CLmB",
          "name": "Google Gemini(PaLM) Api account 11"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "00",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1145571626470080543",
          "mode": "id"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -128,
        -272
      ],
      "id": "b35f505b-ca5e-4af9-a75a-8ef1ef1afe4a",
      "name": "Get many messages",
      "webhookId": "5a4fad68-d107-4df1-a287-011cd527b59b",
      "credentials": {
        "discordBotApi": {
          "id": "GTKAg6uCbs6U1WnG",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -128
      ],
      "id": "e6de077b-1af3-40dd-9105-09cf2d644a9c",
      "name": "When chat message received",
      "webhookId": "1d6cd725-e56d-49e1-8d27-b200b8fe39b8"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -272
      ],
      "id": "f74f4644-ef6a-46ea-9046-4f42d945240e",
      "name": "Schedule Trigger",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "notes": "This portion here tries to act as kind of a loop as discord's api doesn't support a webhook which calls a program when a message is sent to a bot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02961176-d1a4-4ad6-9abe-2221d8abe521",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -320
      ],
      "id": "b697c8f7-200d-4483-a7bf-095d09baab7f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4dade14-a1a3-4913-b90d-7cdf923fafde",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "e283f38c-ca45-4fcb-9886-718a29b93ab2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ef940b7-447c-4fd4-bbc6-c87184e888a3",
              "name": "content",
              "value": "={{ $json.output.length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -48
      ],
      "id": "45f5f5f8-6c6b-4475-a260-99e22b0f8a3c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45c41552-40b9-492e-99ec-254c458aed38",
              "leftValue": "={{ $json.content.toNumber() }}",
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        -160
      ],
      "id": "07506f5f-ee09-4f4d-9e78-5d2bcce2f746",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "00",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Get many messages').item.json.channel_id }}",
          "mode": "id"
        },
        "message": "={{ $('Edit Fields1').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1392,
        96
      ],
      "id": "8cb96afa-1798-45d2-b8a0-41dc85b940e1",
      "name": "Send message and wait for response",
      "webhookId": "e56105d6-642a-4cb1-ae53-c6a85f2cac96",
      "credentials": {
        "discordBotApi": {
          "id": "GTKAg6uCbs6U1WnG",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "content": "This portion here tries to act as kind of a loop as discord's api doesn't support a webhook which calls a program when a message is sent to a bot.",
        "height": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -480
      ],
      "typeVersion": 1,
      "id": "367e43cb-247c-4b32-a3f2-1f9472bae1e6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Get many messages pulls the user's message content, this also pulls the channel ID (where to send the message ID)",
        "height": 144,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -304
      ],
      "typeVersion": 1,
      "id": "3c8c7764-b9c0-4d7d-865e-3473607897f4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Filter out all data but text user types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -352
      ],
      "typeVersion": 1,
      "id": "74e33fa2-b3b2-43f0-ba45-9d443e52c004",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "This is programming duct tape (left here since it makes it work but we don't know why)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -64
      ],
      "typeVersion": 1,
      "id": "beab59e2-9234-483c-8c58-389e217dd647",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "AI model response, could hook in tools to do other stuff, memory doesn't work for some reason."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        208
      ],
      "typeVersion": 1,
      "id": "7ddda43e-1483-46ba-a783-0406208d7adb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Pull content of message ai sends"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -144
      ],
      "typeVersion": 1,
      "id": "c8cae04b-ec53-4253-b58b-fe4978c0b253",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Error checker, discords api doesn't support more than 2000 characters,"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        -32
      ],
      "typeVersion": 1,
      "id": "53efb24e-d094-46c4-991c-b19cacaca1a0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Acts as a sort of brake, keeps the ai agent from continuously firing messages off and replying to itself"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        304
      ],
      "typeVersion": 1,
      "id": "be535f18-26d2-4ae3-9257-a6e7dbb40b47",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d5faa9a1-1b66-46b8-8a98-9e2ca02a4fc8",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "6115484c5ea03bab0f32f7f21e7a661b9b02d74a1069a3360fb260097073b91b"
  },
  "id": "AnwMf0prYNY3A1jD",
  "tags": []
}